@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
:root {
	--menu: rgba(0, 0, 0, 0.5);
	--panel: rgba(35, 35, 35, 0.5);
	--def-color: #a2a2a2;
	--highlight: white;
	--border: #2b2b2b;
	--semi-highlight: #EAEAEA;
	--menu-padding: 10px;
	--side-menu-width: 250px;
}
* {
	box-sizing: border-box;
	transition: .4s ease;
} 
.App {
	background: gray;
	font-family: "Poppins";
	background-image: url("https://jaxsonoconnor09.github.io/image-repo/blossom.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--def-color);
	margin: 0;
	padding: 0px var(--menu-padding);
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 100vh;
}
.panel {
	background: var(--menu);
	backdrop-filter: blur(40px) brightness(85%);
	border: 2px solid var(--border);
	border-radius: 15px;
}
#side-menu {
	height: calc(100vh - (2 * var(--menu-padding)));
	width: var(--side-menu-width);
	padding: 8px 14px;
}
#side-menu > div > p, #side-menu > div > label {
	transition: .4s ease;
	margin-left: 15px;
	color: var(--def-color);
	font-size: 13px;
	cursor: default;
	user-select: none;
	width: max-content;
}
#side-menu > div > h2 {
	color: var(--semi-highlight);
	font-size: 18px;
	font-weight: 600;
	cursor: default;
	user-select: none;
}
#side-menu > div > h2 > i {
	color: var(--def-color);
}
#side-menu > div {
	margin-bottom: 15px;
}
#side-menu > div > p:hover, #side-menu > div > label:hover {
	transition: .4s ease;
	color: var(--highlight);
}
h2, p {
	margin: 0;
}
#info {
	margin-left: 10px;
	width: calc(100% - 10px - var(--side-menu-width));
	height: calc(100% - 20px);
}
#jaxweather {
	background: var(--panel);
	border: 1px solid var(--border);
	position: absolute;
	left: 14px;
	bottom: 0;
	width: calc(100% - 28px);
	/* text-align: center; */
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
input[type="file"] {
	display: none;
}
#info {
	display: flex;
	align-items: center;
	justify-content: center;
}
#weather-panel {
	height: 500px;
	width: 400px;
	color: var(--def-color);
	background: var(--menu);
	border: 2px solid var(--border);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0px;
}
#weather-panel > h2 {
	font-weight: 300;
}
#weather-panel > h2 > span, #weather-panel > div > p > span, #weather-panel > span > p > span {
	font-weight: 600;
	color: var(--highlight); 
}
#weather-panel > div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
#temp {
	font-size: 60px;
	font-weight: 600;
	color: var(--highlight);
}
#weather-panel > img {
	height: 50px;
}
#jaxweather > img {
	height: 20px;
	aspect-ratio: 1;
	margin-right: 5px;
}
#desc {
	display: flex;
	align-items: center;
	justify-content: center;
}
.weather-detail:not(#desc) {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 80%;
	margin-bottom: 8px;
}
#desc-text {
	font-size: 18px;
	color: var(--semi-highlight);
}
#temp {
  height: 250px;
}
#error-message {
  text-align: center;
  color: rgb(255, 50, 50);
  font-weight: 400;
  line-height: 496px;
  font-size: 20px;
}
